/.gitattributes export-ignore
/.gitignore export-ignore
/ChangeLog export-ignore
/example export-ignore
/README.rst export-ignore
/tests export-ignore
/.editorconfig export-ignore
/.github export-ignore
/contributing.rst export-ignore
